:root{
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary:#ecf0f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
h1,
h2{
    font-family: 'saira' , sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

.text-primary{
    color: var(--secondary-color);
}
.btn-primary{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transform: all 0.3s ease;
}
.btn-primary:hover{
    background-color: #15a076;
    transform: scale(1.3);
}
header{
    background:var(--bg-primary);
    height: 100vh;
}
header .navbar{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    position: fixed;
    width: 100%;
   
}

header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;

}

#home #logo{
    color:var(--primary-color);
    font-size: 24px;
}

header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a{
    margin: 0 15px;
    color:var(--primary-color);
    font-weight: 600;
}
header .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    padding: 5rem 2rem 0;
    
}
header .header-content .content-text{
    margin-bottom: 5rem;
}


#home .header-content p span{
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1{
font-size: 60px;
cursor: var(--primary-color);
text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
margin-top: 10px;
}

#home .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    margin:10px 0;
    font-weight: 500;
}

#home .header-content .social{
    margin: 1rem 0 2rem;
}
#home .header-content .social a i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius:50%;
    margin-right: 10px;
    transform: all 0.3s ease;
}

#home .header-content .social a i:hover{
    transform: scale(0.85);
    background: #20c997;
}
header .header-content img{
    max-width: 450px;
}
#about,#skills,#services, #protfolio{
    padding: 6rem 0;
}
#about h2, #skills h2, #services h2,#protfolio h2,#contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr, #skills hr, #services hr, #protfolio hr{
    width: 100px;
    height: 3px;
    background-color:var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap:3rem;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;

}
#about .about-content .col-1 p{
    color:var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-content .col-2 p{
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
#skills{
    background-color: var(--primary-color);
}
#skills h2, #protfolio h2{
    color: #fff;
    font-family: 'poppins', sans-serif;
}
#skills .skills-content{
    margin-top: 2rem;
    background-color: #0f270d;
}
#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

#skills .skills-content .row .item{
    color:#fff;
    background-color:#000;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px  #375f7250;
}
#skills .skills-content .row .item:nth-child(3) img{
    max-width: 80px;
}
#skills .row img{
    max-width:40px;
}
#services, #contact{
    background:#00f4ab0c;
}

#protfolio {
    background-color: var(--primary-color);
}


#protfolio .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top: 4rem;
}
#protfolio .row .item{
    background-color: #fff;
    border-radius:5px;
    transition: all 0.3s;
}
#protfolio .row .item:hover{
    transform: scale(1.03);
}

#protfolio .row .item .item-content{
    padding: 20px 15px 30px;
}


#protfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
#protfolio .row .item img{
    max-width: 100%;
    border-bottom:2px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

#protfolio .row .item .item-content {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}
#contact{
    padding: 4rem 0;
}
#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background: #fff;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
    
}
#contact .row input, #contact .row textarea{
display: block;
width: 100%;
margin: 20px 0;
padding: 10px;
background-color: #00f4ab53;
border: 1px #bbb;
outline: none;
}